* {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  body {
    background-color: rgb(56, 73, 105);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  h1 {
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50%;
  }
  
  .app {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  
  header {
    margin: 4vh 0 10vh 0;
  }
  
  .calculator {
    border: 2px solid transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    border-radius: 8px;
    background-color:  rgb(180, 205, 210);
    position: absolute;
    top: 23vmin;
    left: 50%;
    translate: -50%;
  }

  .screen {
    overflow-x: scroll;
    outline: 0;
    border: none;
    height: 9vmin;
    width: 35.5vmin;
    background-color: transparent;
    border-radius: 8px;
    margin: 5px 0 10px 0px;
    text-align: right;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 15px 0 0px;
    font-size: 1.5rem;
    /* box-shadow: -5px -5px 18px rgba(107, 106, 106, 0.8); */
  }
  
  .cal_btn {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(5, auto); */
    margin: 5px;
    grid-gap: 15px;
  }
  
  .item,.item7 {
    position: relative;
    font-size: 1.4rem;
    height: 7vmin;
    width: 7vmin;
    border: 1px outset rgba(128, 128, 128, 0);
    border-radius: 10%;
    background-color: rgb(9, 123, 143);
    box-shadow: -5px -5px 10px  rgba(47, 47, 47, 0.432);
  }
  
  .item:hover {
    cursor: pointer;
    background-color:  rgb(7, 84, 98);
    transition: background-color 0.2s ease;
  }
  #item:hover {
  background-color: rgb(173, 11, 30);
  /* transition: background-color 0.2s ease; */
  }
  .item7:hover {
    cursor: pointer;
    background-color:  rgb(7, 84, 98);
    transition: background-color 0.2s ease;
  }
  
  .item:active {
    content: "";
    background: rgb(171, 162, 149);
    display: block;
    position: relative;
    padding-top: 100%;
    padding-left: 100%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }
  
  .item:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  

  
  @media screen and (max-width: 450px) {
    .item {
      height: 8vmax;
      width: 8vmax;
    }
    .item2 {
      height: 8vmax;
      width: 8vmax;
    }
    .item7 {
      height: 8vmax;
      width: 8vmax;
    }
    .screen {
      height: 8vmax;
      width: 39vmax;
      font-size: 1.5rem;
    }
    .calculator{
      position: absolute;
    top: 45vmin;
    left: 50%;
    translate: -50%;
    }
  
  }

  .contact {
    position: absolute;
    top: 5vmin;
    left: 5vmin;
  }
  .contact li {
    padding: 10px;
    list-style-type: none;
    font-size: 1.5rem;
  }


